@using DinnerClubPlanner.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Dinners";
}
<h2>@ViewBag.Title</h2>

@{
    // If the user id is null, disable all buttons.
    var currentUserId = User.Identity.GetUserId();
    var disabled = currentUserId == null ? "disabled" : "";

    if (currentUserId == null)
    {
        <p>Please log in to cancel or attend dinners.</p>
    }
}



<div class="table-responsive">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Total Attending</th>
            <th>Not Attending</th>
            <th></th>
            <th></th>

        </tr>
        
        @{
            var totalUsers = ((Tuple<List<DinnerClubEvent>, int>)Model).Item2;
        }

        @foreach (DinnerClubEvent item in ((Tuple<List<DinnerClubEvent>, int>) Model).Item1)
        {
            var date = item.Date.ToLongDateString();
            var notAttending = item.NotAttending.Select(x => x.UserName).ToList();
            var notAttStr = notAttending.Any() ? string.Join(", ", notAttending) : "None";
            var totalAttending = totalUsers - notAttending.Count();

            // Figure out if the current user is attending the event
            var hasCancelled = item.NotAttending.Any(x => x.Id == currentUserId);

            
            <tr>
                <td>@Html.DisplayFor(modelItem => date)</td>
                <td>@Html.DisplayFor(modelItem => totalAttending)</td>
                <td>@Html.DisplayFor(modelItem => notAttStr)</td>
                <td>
                    
                    @{
                        if (hasCancelled)
                        {
                            <button class="btn btn-info @Html.Encode(disabled)" type="button"
                                    onclick="location.href = '@Url.Action("AttendEvent", new {dinnerEventId = item.Id})'">
                                Attend
                            </button>
                        }
                        else
                        {
                            <button class="btn btn-danger @Html.Encode(disabled)" type="button"
                                    onclick="location.href = '@Url.Action("CancelEvent", new {dinnerEventId = item.Id})'">
                                Cancel
                            </button>
                        }
                    }
                </td>
                
                <td>
                    <button class="btn btn-default" type="button"
                            onclick="location.href = '@Url.Action("DinnerDetails", new {dinnerEventId = item.Id})'">
                        Details
                    </button>
                </td>
            </tr>
        }
    </table>
</div>
